<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dowloadPDF()" [disabled]="!pdfObj" *ngIf="photoPreview">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" *ngIf="photoPreview">
    <ion-buttons slot="end">
      <ion-button (click)="createPDF()">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img [src]="photoPreview" alt="" slot="start" style="height: 4rem; width: 4rem;">
    <ion-label slot="start">
      <h1>{{docDate}}</h1>
      <p>Scanned document</p>
    </ion-label>
  </ion-item>

  <!-- <ion-button *ngIf="photoPreview" (click)="createPDF()">Next</ion-button> -->

  <div class="camera-icon" *ngIf="!photoPreview">
    <ion-icon name="camera-outline"></ion-icon>
    <p>Click the camera to scan documents</p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
