<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Create CV Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-margin-horizontal ion-margin-top">
    Sections
  </ion-text>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Personal Details
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Education
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Experience
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Skills
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Motivation
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top ion-margin-bottom">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Rerefences
    </ion-label>
  </ion-item>

  <ion-text class="ion-margin-horizontal ion-margin-top">
    More Sections
  </ion-text>

  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Projects
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Cover Letter
    </ion-label>
  </ion-item>
  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Rerefences
    </ion-label>
  </ion-item>

  <ion-text class="ion-margin-horizontal ion-margin-top">
    Help
  </ion-text>

  <ion-item lines="full" class="ion-margin-top">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      Tips & Tricks
    </ion-label>
  </ion-item>

</ion-content>
