ion-header {
    
    ion-toolbar {
        --background: #ffffff;
        background: #ffffff;
        padding: 0 10px;
    }

    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff
        }
    }
}

.about {
    text-align: center;
    margin-top: 50%;
    h1 {
        font-weight: bold;
    }
}
