<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>CV</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="template-cards">
    <ion-row>
      <ion-col size="6" *ngFor="let evente of listEvents" class="">
        <ion-card (click)="previewCv()">
          <img src="{{evente.imlk}}">
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
