<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>addFileModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <div class="ion-padding empty">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <div class="">
      <ion-label>Nothing</ion-label>
    </div>
  </div>
  <!-- <ion-item *ngFor="let item of items" lines="none" mode="md" (click)="item.td()" button>
    <ion-icon [name]="item.icon" color="items.color" slot="start"></ion-icon>
    <ion-label>{{ item.text }}
      <p>{{item.description}}</p>
    </ion-label>
  </ion-item> -->
</ion-content>
