<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Sign Documents</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- IF there is no content this button should show -->
  <div class="upload ion-margin-horizontal ion-margin-top">
    <ion-button color="tertiary" shape="round">
      <!-- <ion-icon name="add-outline" slot="icon-only"></ion-icon> -->
      Upload
    </ion-button>
  </div>
  <div *ngIf="recent">
    content
  </div>

</ion-content>
