<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large" class="title">SmartCafe</ion-title>
    <ion-avatar slot="end" (click)="goToProfile()" class="ion-margin-top">
      <img src="../../assets/img/model_4.png" alt="">
    </ion-avatar>
  </ion-toolbar>
    <div class="ion-margin-top ion-margin-horizontal" mode="ios">
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block" shape="round" fill="outline" color="dark" (click)="goToCreate()">
            <ion-icon name="add-outline" slot="start"></ion-icon>
            Create
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" shape="round" fill="outline" color="dark">
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
            Saved
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
</ion-header>

<ion-content fullscreen="true" mode="ios">
  
  <!-- <h1>hana ho sebetsa</h1> -->

  <!-- <div class="line">
    <hr>
  </div> -->

  <!-- <div class="related">
    <ion-label color="medium" >
      <h1 class="ion-margin-bottom ion-padding">For You</h1>
    </ion-label>
  </div> -->
</ion-content>
